<template>
  <q-page id="Profile" class="q-pa-lg">
    <div class="Container">
      <q-splitter v-model="SplitterModel">
        <template v-slot:before>
          <q-tabs v-model="Tab" vertical class="text-blue-grey-10">
            <q-tab name="Info" label="基本資料" />
            <q-tab name="OAuth" label="連結帳號" />
            <q-tab name="Payment" label="付款設定" />
            <q-tab name="Preference" label="偏好設定" />
          </q-tabs>
        </template>

        <template v-slot:after>
          <q-tab-panels
            v-model="Tab"
            animated
            swipeable
            vertical
            transition-prev="jump-up"
            transition-next="jump-up"
          >
            <q-tab-panel name="Info">
              <h3 class="q-mt-none text-weight-bold q-mb-lg">基本資料</h3>
              <q-form @submit="UpdateUser()" class="row q-col-gutter-md">
                <div class="col-lg-8 col-md-7">
                  <q-field label="Uid" stack-label>
                    <template v-slot:control>
                      <div class="self-center full-width no-outline">
                        {{ User.uid }}
                      </div>
                    </template>
                  </q-field>
                  <q-field label="帳號" stack-label>
                    <template v-slot:control>
                      <div class="self-center full-width no-outline">
                        {{ User.email }}
                      </div>
                    </template>
                  </q-field>
                  <q-input stack-label v-model="User.displayName" label="名稱" />
                  <q-field label="驗證狀態" stack-label>
                    <template v-slot:control>
                      <div class="self-center full-width no-outline">
                        {{ User.emailVerified ? '已驗證' : '未驗證' }}
                      </div>
                    </template>
                  </q-field>
                </div>
                <div class="col-lg-4 col-md-5">
                  <q-avatar size="150px" class="q-mx-auto block q-mb-md">
                    <img :src="User.photoURL || 'https://storage.ksong.tw/Uploads/51f6fb256629fc755b8870c801092942.png'">
                  </q-avatar>
                  <q-file id="FileUpload" ref="FileUpload" v-model="FileData" @input="UploadCover" class="hidden"></q-file>
                  <q-btn label="更新圖片" class="text-capitalize block q-mx-auto" rounded color="blue-grey-10" @click="ChooseFile" />
                </div>
                <q-space />
                <div class="col-xs-12">
                  <q-btn label="更新資料" type="submit" color="primary" />
                </div>
              </q-form>
            </q-tab-panel>
            <q-tab-panel name="OAuth">
              <h3 class="q-mt-none text-weight-bold q-mb-lg">連結帳號</h3>
              <q-banner class="bg-grey-3 q-mb-md">
                完成綁定社群帳號後，即可使用社群帳號進行快速登入。免輸入帳號密碼，方便又安全！
              </q-banner>
              <template v-for="(Provider, Index) in ProviderList">
                <q-btn :key="Index" outline size="lg" class="block q-mb-md full-width" :icon="'img:' + Provider.ImageURL" :color="Provider.Color" :label="(BindingProvider.includes(Provider.ID) ? $t('Profile.Profile/Binding') : $t('Profile.Profile/' + Index))" @click="LinkOAuth(Index)" :disable="BindingProvider.includes(Provider.ID)" />
              </template>
            </q-tab-panel>
            <q-tab-panel name="Payment">
              <h3 class="q-mt-none text-weight-bold q-mb-lg">付款設定</h3>
              <q-banner class="bg-grey-3 q-mb-md">
                尚未開放
              </q-banner>
            </q-tab-panel>
            <q-tab-panel name="Preference">
              <h3 class="q-mt-none text-weight-bold q-mb-lg">偏好設定</h3>
              <div class="q-gutter-sm">
                <q-checkbox v-model="Preference.Notify" label="開啟通知" @input="SavePreference()" />
              </div>
            </q-tab-panel>
          </q-tab-panels>
        </template>
      </q-splitter>
    </div>
  </q-page>
</template>

<script>
import { app as FirebaseApp } from 'boot/firebase'
export default {
  name: 'Profile',
  data () {
    return {
      User: {
        uid: '',
        email: '',
        displayName: '',
        photoURL: null
      },
      UserData: {},
      Preference: {
        Notify: false
      },
      ProviderList: {
        Facebook: {
          ID: 'facebook.com',
          Color: 'blue-10',
          ImageURL: 'https://firebasestorage.googleapis.com/v0/b/petepokerworld-17526.appspot.com/o/Logo%2Ficon_social_facebook.png?alt=media&token=20d3018a-0517-4025-bbc5-e1bccbafac44'
        },
        Google: {
          ID: 'google.com',
          Color: 'grey-8',
          ImageURL: 'https://firebasestorage.googleapis.com/v0/b/petepokerworld-17526.appspot.com/o/Logo%2Ficon_social_google.png?alt=media&token=8bded3cb-6da9-49d8-9ddf-890fff6fb367'
        }
      },
      FileData: null,
      Tab: 'Info',
      SplitterModel: 20
    }
  },
  created () {
    if (this.$route.query.area) {
      this.Tab = this.$route.query.area
    }
  },
  computed: {
    BindingProvider () {
      return this.$store.state.UserModule.User.providerData.map((provider) => {
        return provider.providerId
      })
    }
  },
  mounted () {
    return Promise.all([
      this.GetUser(),
      this.GetPreference(),
      this.GetUserData()
    ]).then(() => {
      this.PageLoaded = true
    })
  },
  methods: {
    GetUser () {
      this.User = {
        uid: this.$store.state.UserModule.User.uid,
        email: this.$store.state.UserModule.User.email,
        emailVerified: this.$store.state.UserModule.User.email,
        displayName: this.$store.state.UserModule.User.displayName,
        photoURL: this.$store.state.UserModule.User.photoURL,
        phoneNumber: this.$store.state.UserModule.User.phoneNumber,
        metadata: this.$store.state.UserModule.User.metadata,
        providerData: this.$store.state.UserModule.User.providerData
      }
      this.UserData = this.$store.state.UserModule.UserData
    },
    GetUserData () {
      return this.$Firebase('auth').currentUser.getIdToken(true).then((idToken) => {
        return this.$store.dispatch('UserModule/GetUserInfo', idToken).then((response) => {
          this.UserData = response
        }).catch((error) => {
          this.$Notify({
            Type: 'Error',
            Message: '載入會員資料失敗: ' + error.message
          })
        })
      })
    },
    UpdateUser () {
      return this.$Firebase('auth').currentUser.updateProfile({
        displayName: this.User.displayName,
        photoURL: this.User.photoURL
      }).then(() => {
        this.$Notify({
          Type: 'Success',
          Message: '更新成功'
        })
      }).catch((error) => {
        this.$Notify({
          Type: 'Error',
          Message: '更新失敗: ' + this.$t('Message.' + error.code)
        })
      })
    },
    ChooseFile () {
      this.$refs.FileUpload.pickFiles()
    },
    UploadCover (file) {
      return this.$Firebase('storage').ref('/Uploads/Cover/' + this.User.uid + '.png').put(file).then((response) => {
        this.$Firebase('storage').ref('/' + response.metadata.fullPath).getDownloadURL().then((URL) => {
          return this.$Firebase('auth').currentUser.updateProfile({
            photoURL: URL
          }).then(() => {
            this.User.photoURL = URL
            this.$store.commit('UserModule/SetAuth', this.$Firebase('auth').currentUser)
            this.$Notify({
              Type: 'Success',
              Message: '圖片更換成功'
            })
          }).catch((error) => {
            console.log(error)
            this.$Notify({
              Type: 'Error',
              Message: '圖片更換失敗: ' + error.message
            })
          })
        })
      })
    },
    LinkOAuth (type) {
      const { Provider } = this.DetermineProvider(type)
      return this.$Firebase('auth').currentUser.linkWithPopup(Provider).then((result) => {
        this.$store.commit('UserModule/SetAuth', this.$Firebase('auth').currentUser)
        this.$store.dispatch('UserModule/UpdateUserInfo', {
          uid: this.User.uid,
          OpenID: {
            ...this.UserData.OpenID,
            [type]: result.additionalUserInfo.profile.id
          }
        }).then(() => {
          this.$store.commit('UserModule/SetAuth', this.$Firebase('auth').currentUser)
          this.GetUser()
          this.$Notify({
            Type: 'Success',
            Message: '帳號連動成功'
          })
        }).catch((error) => {
          this.$Notify({
            Type: 'Error',
            Message: '更新帳號失敗: ' + error.message
          })
        })
      }).catch((error) => {
        console.log(error)
        this.$Notify({
          Type: 'Error',
          Message: '帳號連動失敗: ' + error.message
        })
      })
    },
    UnLinkOAuth (type) {
      const { ProviderID } = this.DetermineProvider(type)
      return this.$Firebase('auth').currentUser.unlink(ProviderID).then(() => {
        this.$store.commit('UserModule/SetAuth', this.$Firebase('auth').currentUser)
        this.GetUser()
        this.$store.dispatch('UserModule/UpdateUserInfo', {
          uid: this.User.uid,
          OpenID: {
            ...this.UserData.OpenID,
            [type]: ''
          }
        }).then(() => {
          this.$Notify({
            Type: 'Success',
            Message: '解除連動成功'
          })
        }).catch((error) => {
          this.$Notify({
            Type: 'Error',
            Message: '更新帳號失敗: ' + error.message
          })
        })
      }).catch((error) => {
        console.log(error)
        this.$Notify({
          Type: 'Error',
          Message: '解除連動失敗: ' + error.message
        })
      })
    },
    GetPreference () {
      return this.$Firebase('database').ref(`Preference/${this.User.uid}`).once('value').then((snapshot) => {
        if (snapshot.val() !== null) {
          this.Preference = snapshot.val()
        }
      })
    },
    SavePreference () {
      return this.$Firebase('database').ref(`Preference/${this.User.uid}`).set(this.Preference).then(() => {
        return true
      })
    },
    DetermineProvider (type) {
      let ProviderID, Provider
      switch (type) {
        case 'Google':
          ProviderID = 'google.com'
          Provider = new FirebaseApp.auth.GoogleAuthProvider()
          break
        case 'Facebook':
          ProviderID = 'facebook.com'
          Provider = new FirebaseApp.auth.FacebookAuthProvider()
          break
        case 'Twitter':
          ProviderID = 'twitter.com'
          Provider = new FirebaseApp.auth.TwitterAuthProvider()
          break
        case 'Github':
          ProviderID = 'github.com'
          Provider = new FirebaseApp.auth.GithubAuthProvider()
          break
        case 'Apple':
          ProviderID = 'apple.com'
          Provider = new FirebaseApp.auth.OAuthProvider('apple.com')
          break
        case 'Yahoo':
          ProviderID = 'yahoo.com'
          Provider = new FirebaseApp.auth.OAuthProvider('yahoo.com')
          break
        case 'Microsoft':
          ProviderID = 'microsoft.com'
          Provider = new FirebaseApp.auth.OAuthProvider('microsoft.com')
          break
      }
      return {
        Provider,
        ProviderID
      }
    }
  },
  meta () {
    return {
      title: 'Pete\'s Poker World',
      meta: {
        description: { name: 'description', content: '' },
        keywords: { name: 'keywords', content: '' },
        equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
        ogTitle: {
          name: 'og:title',
          content: 'Pete\'s Poker World'
        }
      }
    }
  }
}
</script>

<style lang="scss">
#Index {
  .q-infinite-scroll__loading {
    width: 100%;
    text-align: center;
  }
}
</style>
