<template>
  <q-page class="flex flex-center">
    <q-spinner-cube color="amber-8" size="6em" />
  </q-page>
</template>

<script>
import { InnerRequest } from 'boot/axios'
export default {
  name: 'RangeViewer',
  data () {
    return {}
  },
  created () {
  },
  mounted () {
    this.GetIdToken().then((customToken) => {
      window.location.replace('https://rangeview.web.app?customToken=' + customToken)
    })
  },
  methods: {
    GetIdToken () {
      return this.$Firebase('auth').currentUser.getIdToken(true).then((idToken) => {
        return InnerRequest.request({
          method: 'post',
          url: '/app/range-viewer',
          headers: {
            'id-token': idToken
          }
        }).then(({ data }) => {
          return data.token
        }).catch((error) => {
          throw error
        })
      }).catch((error) => {
        throw error
      })
    }
  }
}
</script>
