<template>
  <q-page class="flex flex-center bg-grey-10 q-pa-lg">
    <q-card>
      <q-form @submit="DoRegister">
        <q-card-section>
          <q-toolbar-title shrink class="text-center q-mb-md">
            <router-link to="/">
              <img src="https://firebasestorage.googleapis.com/v0/b/petepokerworld-17526.appspot.com/o/Logo%2Fhorziontal_black.png?alt=media&token=b0a2624d-d601-4194-8864-5187dd1d1ed6" alt="Logo" title="Pete's Poker World" class="block q-mx-auto" height="40">
            </router-link>
          </q-toolbar-title>
          <div class="text-h5 text-center q-mb-sm">會員註冊</div>
          <div class="text-center">註冊成為會員</div>
        </q-card-section>

        <q-card-section>
          <q-input class="q-mb-sm" color="dark" v-model="Account" label="手機號碼或電子郵件(帳號)" type="text" lazy-rules :rules="[ val => val && val.length > 0 || '帳號不得為空']" />
          <q-input class="q-mb-sm" color="dark" v-model="Name" label="名稱" type="text" lazy-rules :rules="[ val => val && val.length > 0 || '名稱不得為空']" />
          <q-input class="q-mb-sm" color="dark" v-model="Password" label="密碼" :type="ShowPassword ? 'text' : 'password'" lazy-rules :rules="[ val => val && val.length > 0 || '密碼不得為空']">
            <template v-slot:append>
              <q-icon
                :name="ShowPassword ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="ShowPassword = !ShowPassword"
              />
            </template>
          </q-input>
          <q-input class="q-mb-sm" color="dark" v-model="CheckPassword" label="確認密碼" :type="ShowCheckPassword ? 'text' : 'password'" lazy-rules :rules="[ val => val === Password || '兩次輸入的密碼不一致']">
            <template v-slot:append>
              <q-icon
                :name="ShowCheckPassword ? 'visibility_off' : 'visibility'"
                class="cursor-pointer"
                @click="ShowCheckPassword = !ShowCheckPassword"
              />
            </template>
          </q-input>
        </q-card-section>
        <q-card-section class="q-pt-none flex justify-between">
          <q-btn flat to="/member/login">會員登入</q-btn>
          <q-btn flat>忘記密碼?</q-btn>
        </q-card-section>

        <q-separator />

        <q-card-actions vertical>
          <q-btn class="q-mb-sm" type="submit" color="light-green-8">註冊</q-btn>
          <q-btn class="q-mb-sm" color="blue-8" @click="ThirdPartyLogin('FacebookAuthProvider')">Facebook帳號註冊</q-btn>
          <q-btn class="q-mb-sm" color="red-8" @click="ThirdPartyLogin('GoogleAuthProvider')">Google帳號註冊</q-btn>
        </q-card-actions>
      </q-form>
    </q-card>
  </q-page>
</template>

<script>
import { app } from 'boot/firebase'
export default {
  name: 'Login',
  data () {
    return {
      Submit: false,
      Account: '',
      Password: '',
      Name: '',
      CheckPassword: '',
      ShowPassword: false,
      ShowCheckPassword: false
    }
  },
  mounted () {
  },
  methods: {
    DoRegister () {
      this.Submit = true
      return this.$Firebase('auth').createUserWithEmailAndPassword(this.Account, this.Password).then((response) => {
        return Promise.all([
          response.user.updateProfile({
            displayName: this.Name
            // phoneNumber: this.registered.phone
          }),
          this.$store.dispatch('UserModule/AddMemberData', {
            uid: response.user.uid,
            Name: this.Name.Name,
            // Phone: this.Account,
            Email: this.Account
          })
        ]).then(() => {
          this.Submit = false
          this.$Notify({
            Type: 'Success',
            Message: '您已註冊成功'
          }).then(() => {
            this.$router.replace('/')
          })
        })
      }).catch((err) => {
        console.error(err)
        this.Submit = false
        this.$Notify({
          Type: 'Error',
          Message: '註冊失敗: ' + this.$t('Message.' + err.code)
        })
      })
    },
    ThirdPartyLogin (type = 'FacebookAuthProvider') {
      this.Submit = true
      const Provider = new app.auth[type]()
      return this.$Firebase('auth').signInWithPopup(Provider).then(async (result) => {
        if (result.additionalUserInfo.isNewUser === true) {
          // todo 寫入資訊
        }
        this.$Notify({
          Type: 'Success',
          Message: '您已登入成功'
        }).then(() => {
          setTimeout(() => {
            this.Submit = false
            this.$router.replace('/')
          }, 3000)
        })
      }).catch((error) => {
        this.Submit = false
        this.$Notify({
          Type: 'Error',
          Message: '登入失敗: ' + this.$t('Message.' + error.code)
        })
      })
    }
  }
}
</script>

<style lang="scss">
.q-card {
  width: 100%;
  max-width: 450px;
}
</style>
