<template>
  <q-page id="Article" class="q-pa-lg">
    <h1>{{ Detail.Name }}</h1>
    <article v-html="Detail.Content" />
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Article',
  data () {
    return {
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('PageModule/GetDetail', {
      CommitToStore: true,
      URL: 'content/article/detail',
      Data: {
        Taxonomy: 'Article',
        Slug: currentRoute.params.Slug
      }
    })
  },
  created () {
  },
  computed: {
    ...mapState({
      Detail: state => state.PageModule.Detail
    })
  },
  mounted () {
  },
  destroyed () {
  },
  methods: {
  }
}
</script>
