<template>
  <q-page class="flex flex-center">
    {{ List }}
    {{ Pagination }}
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'CourseList',
  data () {
    return {
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('PageModule/GetList', {
      CommitToStore: true,
      URL: 'content/article/list',
      Data: {
        Taxonomy: 'Video',
        Categories: currentRoute.params.Slug || 'all',
        Order: currentRoute.query.order || 'nto',
        Page: currentRoute.query.page || 1,
        PerPage: currentRoute.query.perpage || 20
      }
    })
  },
  created () {
  },
  computed: {
    ...mapState({
      List: state => state.PageModule.List,
      Pagination: state => state.PageModule.Pagination
    })
  },
  mounted () {
  },
  destroyed () {
  },
  methods: {
  }
}
</script>
