<template>
  <q-page class="flex flex-center">
    {{ Detail }}
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Course',
  data () {
    return {
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('PageModule/GetDetail', {
      CommitToStore: true,
      URL: 'content/article/detail',
      Data: {
        Taxonomy: 'Video',
        Slug: currentRoute.params.Slug
      }
    })
  },
  created () {
  },
  computed: {
    ...mapState({
      Detail: state => state.PageModule.Detail
    })
  },
  mounted () {
  },
  destroyed () {
  },
  methods: {
  }
}
</script>
