<template>
  <q-page>
    <q-banner class="bg-blue-grey-8 text-white q-pa-xl-xl q-pa-lg">
      <div class="Container">
        <div class="row q-col-gutter-md">
          <div class="col-sm-8 col-md-9">
            <h1 class="text-h4 text-weight-bold">
              {{ Detail.Name }}{{ Detail.OtherName ? ' - ' + Detail.OtherName : '' }}
              <q-badge color="red-9" align="top">New</q-badge>
            </h1>
            <h2 class="text-h6">{{ Detail.HeaderText }}</h2>
            <div class="Meta q-mb-md">
              <span class="q-mr-md"><q-icon name="update" class="q-mr-xs" />最後更新: 2021-01-15</span>
              <span class="q-mr-md"><q-icon name="query_builder" class="q-mr-xs" />
                <span>課程長度: </span>
                <span v-if="TotalDuration.Hours > 0">{{ TotalDuration.Hours }}時</span>
                <span v-if="TotalDuration.Minutes > 0">{{ TotalDuration.Minutes }}分</span>
                <span v-if="TotalDuration.Seconds > 0">{{ TotalDuration.Seconds }}秒</span>
              </span>
            </div>
            <div class="ButtonGroup">
              <q-btn label="購買課程" color="red-10" class="q-mr-sm" @click="GoExternalLink(Detail.Variable.ProductExternalLink)" />
              <q-btn label="進入課程" color="primary" class="q-mr-sm" disable />
              <q-btn label="加入願望清單" outline color="white" class="q-mr-sm" @click="$store.dispatch('UserModule/AddFavorites', Detail)" />
              <q-btn label="分享" outline color="white" class="q-mr-sm" disable />
            </div>
          </div>
        </div>
      </div>
    </q-banner>
    <div class="q-pa-xl-xl q-pa-lg">
      <div class="Container">
        <div class="row q-col-gutter-md">
          <div class="col-sm-8 col-md-9">
            <q-card class="bg-grey-3" flat>
              <q-card-section>
                <div class="text-h5">學習目標</div>
              </q-card-section>
              <q-card-section class="q-pt-none">
                <ul>
                  <li v-for="(Item, Index) in Detail.Variable.LearnGoals" :key="Index">{{ Item.Value }}</li>
                </ul>
              </q-card-section>
            </q-card>
            <div class="ProductContent" v-html="Detail.Content"></div>
          </div>
          <div class="col-sm-4 col-md-3">
            <q-card flat>
              <q-carousel animated v-model="slide" navigation infinite height="200px">
                <q-carousel-slide v-for="(Slide, Index) in Detail.OverViewImages" :name="Index" :key="Index" :img-src="Slide.URL" />
              </q-carousel>
              <q-card-section>
                <div class="h3 q-mt-md">
                  <span class="text-red-8 text-weight-bold">${{ Detail.Amount.Actual }}</span>
                  <span class="text-body2 q-ml-sm text-strike text-grey-5">${{ Detail.Amount.Suggest }}</span>
                </div>
                <q-btn label="購買課程" color="red-7" size="lg" class="q-my-md full-width" @click="GoExternalLink(Detail.Variable.ProductExternalLink)" />
                <ul class="q-mt-md">
                  <li v-for="(Item, Index) in Detail.Variable.Features" :key="Index">{{ Item.Value }}</li>
                </ul>
              </q-card-section>
            </q-card>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Course',
  data () {
    return {
      slide: 0,
      RelateCourse: {},
      TotalDuration: {
        Hours: 0,
        Minutes: 0,
        Seconds: 0
      }
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('PageModule/GetDetail', {
      CommitToStore: true,
      URL: 'product/detail',
      Data: {
        SeriesNum: currentRoute.params.SeriesNum
      }
    })
  },
  created () {
  },
  computed: {
    ...mapState({
      Detail: state => state.PageModule.Detail
    })
  },
  mounted () {
    this.GetRelateCourse()
  },
  destroyed () {
  },
  methods: {
    GoExternalLink (Link) {
      return window.open(Link, '_blank')
    },
    GetRelateCourse () {
      return this.$store.dispatch('PageModule/GetDetail', {
        URL: 'content/article/detail',
        Data: {
          Taxonomy: 'Video',
          Slug: this.Detail.Variable.RelateCourse
        }
      }).then((response) => {
        this.RelateCourse = response.Data
        const ChapterDurationArray = this.RelateCourse.Variable.ChapterList.map((item) => item.VideoData.Duration)
        if (ChapterDurationArray.length > 0) {
          this.TotalDuration.Seconds = ChapterDurationArray.reduce((acc, current) => {
            return acc + current
          })
          this.TotalDuration.Hours = Math.floor(this.TotalDuration.Seconds / 3600)
          this.TotalDuration.Minutes = Math.floor((this.TotalDuration.Seconds % 3600) / 60)
          this.TotalDuration.Seconds = Math.floor(this.TotalDuration.Seconds % 60)
        }
      })
    },
    TransformTime (Time) {
      return (Time < 10 ? `0${Time}` : Time)
    }
  },
  meta () {
    return {
      title: this.Detail.Name,
      titleTemplate: title => `${title} - Pete's Poker World`,
      meta: {
        description: { name: 'description', content: this.Detail.SEO.Description },
        keywords: { name: 'keywords', content: this.Detail.SEO.Keywords },
        equiv: { 'http-equiv': 'Content-Type', content: 'text/html; charset=UTF-8' },
        ogTitle: {
          name: 'og:title',
          content: this.Detail.Name,
          template (ogTitle) {
            return `${ogTitle} - Pete's Poker World`
          }
        }
      }
    }
  }
}
</script>
