<template>
  <q-page id="Tag" class="q-pa-lg">
    <q-infinite-scroll @load="GetList" class="row q-col-gutter-md" :offset="150">
      <div v-for="(Item, Index) in List" class="col-lg-2 col-md-3 col-sm-4 col-xs-12" :key="Index">
        <q-card v-if="PageLoaded" flat class="cursor-pointer" @click="GoPath(`/detail/${Item.SeriesNum}`)">
          <q-img :src="Item.Cover" style="height: 200px;" :alt="Item.Name">
            <template v-slot:error>
              <div class="absolute-full flex flex-center bg-grey-4 text-white">
                Cannot load image
              </div>
            </template>
          </q-img>
          <q-card-section>
            <div class="text-subtitle1 text-weight-bold">{{ Item.Name }}</div>
            <div class="text-body1">
              <span class="text-red-8 text-weight-bold">${{ Item.Amount.Actual }}</span>
              <span class="text-body2 q-ml-sm text-strike text-grey-5">${{ Item.Amount.Suggest }}</span>
            </div>
          </q-card-section>
        </q-card>
        <q-card v-if="!PageLoaded" flat>
          <q-skeleton height="200px" square />
          <q-card-section>
            <q-skeleton type="text" class="text-subtitle1" />
            <q-skeleton type="text" width="50%" class="text-body2" />
          </q-card-section>
        </q-card>
      </div>
      <template v-slot:loading>
        <q-spinner-dots color="primary" size="40px" />
      </template>
    </q-infinite-scroll>
    <q-banner v-if="List.length <= 0 && PageLoaded" class="bg-grey-3 q-mt-md">
      目前無任何內容
    </q-banner>
  </q-page>
</template>

<script>
import { mapState } from 'vuex'
export default {
  name: 'Tag',
  data () {
    return {
      PageLoaded: false
    }
  },
  preFetch ({ store, currentRoute }) {
    return store.dispatch('PageModule/GetList', {
      CommitToStore: true,
      URL: 'product/list',
      Data: {
        Tags: currentRoute.params.Tags,
        Order: currentRoute.query.order || 'nto',
        Page: currentRoute.query.page || 1,
        PerPage: currentRoute.query.perpage || 18
      }
    })
  },
  created () {
  },
  computed: {
    ...mapState({
      List: state => state.PageModule.List,
      Pagination: state => state.PageModule.Pagination
    })
  },
  mounted () {
  },
  destroyed () {
  },
  methods: {
    GetList (next, done) {
      this.PageLoaded = false
      return this.$store.dispatch('PageModule/GetList', {
        URL: 'product/list',
        Data: {
          Tags: this.$route.params.Tags,
          Order: 'nto',
          Page: this.Pagination.Page + next,
          PerPage: 18
        }
      }).then((response) => {
        this.PageLoaded = true
        if (response.Data.length > 0) {
          done()
        } else {
          done(true)
        }
      })
    },
    GoPath (Path) {
      return this.$router.push(Path)
    }
  }
}
</script>

<style lang="scss">
#Tag {
  .q-infinite-scroll__loading {
    width: 100%;
    text-align: center;
  }
}
</style>
