<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <q-header elevated class="bg-blue-grey-10 text-white q-py-xs" height-hint="58">
      <q-toolbar>
        <q-btn flat dense round @click="SidebarSwitch = !SidebarSwitch" aria-label="Menu" icon="menu" />

        <q-space class="mobile-only" />

        <q-space class="mobile-only" />

        <q-btn flat no-caps no-wrap class="q-ml-xs" to="/main">
          <q-toolbar-title shrink class="text-weight-bold">
            <img id="Logo" src="https://firebasestorage.googleapis.com/v0/b/petepokerworld-17526.appspot.com/o/Logo%2Fhorziontal_white.png?alt=media&token=973d8233-7d6f-47c1-a6e5-8ffd2666737c" alt="Logo" title="Pete's Poker World" class="block" height="40">
          </q-toolbar-title>
        </q-btn>

        <q-space />

        <div class="YL__toolbar-input-container row no-wrap desktop-only">
          <q-input dense outlined square v-model="Search" placeholder="搜尋課程..." class="bg-white col" @keyup.enter="DoSearch" />
          <q-btn class="YL__toolbar-input-btn" color="grey-3" text-color="grey-8" icon="search" unelevated @click="DoSearch" />
        </div>

        <q-space />

        <div id="Tools" class="q-gutter-sm row items-center no-wrap desktop-only">
          <q-btn-dropdown v-if="$store.getters['UserModule/IsLoggedIn']" round dense flat color="grey-8">
            <template #label>
              <q-icon name="apps" />
              <q-tooltip>應用</q-tooltip>
            </template>
            <q-list bordered padding class="rounded-borders" style="max-width: 350px">
              <q-item-label header>應用</q-item-label>
              <q-item clickable v-ripple to="'/member/rangeviewer'">
                <q-item-section avatar top>
                  <q-avatar icon="grid_on" color="primary" text-color="white" />
                </q-item-section>
                <q-item-section>
                  <q-item-label lines="1">RangeViewer</q-item-label>
                  <q-item-label caption>快速訓練並掌握翻牌前範圍</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
          <q-btn-dropdown v-if="$store.getters['UserModule/IsLoggedIn']" round dense flat color="grey-8">
<!--            <q-badge color="red" text-color="white" floating>2</q-badge>-->
            <template #label>
              <q-icon name="notifications" />
              <q-tooltip>通知</q-tooltip>
            </template>
            <q-list bordered class="rounded-borders" style="max-width: 350px">
              <q-item-label header>通知</q-item-label>
              <q-item>
                <q-item-section>
                  <q-item-label>目前無任何通知</q-item-label>
                </q-item-section>
              </q-item>
              <template v-if="false">
                <q-item clickable v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/avatar2.jpg">
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>
                    <q-item-label lines="1">Brunch this weekend?</q-item-label>
                    <q-item-label caption lines="2">
                      <span class="text-weight-bold">Janet</span>
                      -- I'll be in your neighborhood doing errands this
                      weekend. Do you want to grab brunch?
                    </q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    1 min ago
                  </q-item-section>
                </q-item>
                <q-separator inset="item" />
                <q-item clickable v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/avatar4.jpg">
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>
                    <q-item-label lines="1">Linear Project</q-item-label>
                    <q-item-label caption lines="2">
                      <span class="text-weight-bold">John</span>
                      -- Can we schedule a call for tomorrow?
                    </q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    1 min ago
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </q-btn-dropdown>

          <q-btn-dropdown v-if="$store.getters['UserModule/IsLoggedIn']" rounded flat dense>
            <template #label>
              <q-avatar size="26px">
                <img :src="$store.state.UserModule.User.photoURL || 'https://storage.ksong.tw/Uploads/51f6fb256629fc755b8870c801092942.png'">
              </q-avatar>
              <q-tooltip>帳號</q-tooltip>
            </template>
            <q-list>
              <q-item clickable v-close-popup to="/member/profile">
                <q-item-section>
                  <q-item-label>帳號設定</q-item-label>
                </q-item-section>
              </q-item>
<!--              <q-item clickable v-close-popup to="/member/subscription">-->
<!--                <q-item-section>-->
<!--                  <q-item-label>已訂閱內容</q-item-label>-->
<!--                </q-item-section>-->
<!--              </q-item>-->
<!--              <q-item clickable v-close-popup to="/member/transaction">-->
<!--                <q-item-section>-->
<!--                  <q-item-label>購買紀錄</q-item-label>-->
<!--                </q-item-section>-->
<!--              </q-item>-->
              <q-item clickable v-close-popup @click="$store.dispatch('UserModule/Logout')">
                <q-item-section>
                  <q-item-label>登出</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>

          <q-btn v-if="!$store.getters['UserModule/IsLoggedIn']" color="red-10" to="/member/login">
            登入
          </q-btn>
        </div>

        <q-btn flat dense round icon="search" class="mobile-only" @click="MobileSearchBar = !MobileSearchBar" />
      </q-toolbar>
    </q-header>

    <q-drawer
      id="MainSidebar"
      v-if="PageLoaded"
      v-model="SidebarSwitch"
      :mini="MiniSidebar"
      show-if-above
      bordered
      content-class="bg-grey-2"
      :breakpoint="1200"
      :width="240"
    >
      <q-scroll-area class="fit">
        <q-list padding>
          <template v-if="$q.platform.is.mobile">
            <template v-if="!$store.getters['UserModule/IsLoggedIn']">
              <q-item to="/member/login">
                <q-item-section avatar>
                  <q-icon color="grey" name="login" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>登入</q-item-label>
                </q-item-section>
              </q-item>
              <q-item to="/member/register">
                <q-item-section avatar>
                  <q-icon color="grey" name="person_add" />
                </q-item-section>
                <q-item-section>
                  <q-item-label>註冊</q-item-label>
                </q-item-section>
              </q-item>
            </template>
            <template v-else>
              <q-item v-ripple clickable to="/member/profile">
                <q-item-section side>
                  <q-avatar rounded size="40px">
                    <img :src="$store.state.UserModule.User.photoURL" />
                  </q-avatar>
                </q-item-section>
                <q-item-section>
                  <q-item-label>{{ $store.state.UserModule.User.displayName }}</q-item-label>
                  <q-item-label caption>{{ $store.state.UserModule.User.email }}</q-item-label>
                </q-item-section>
              </q-item>
            </template>
            <q-separator class="q-mt-md q-mb-xs" />
          </template>

          <q-item v-for="NavItem in MainNavigation" :key="NavItem.Text" v-ripple clickable :to="NavItem.To" :active="$route.fullPath === NavItem.To" :focused="$route.fullPath === NavItem.To">
            <q-item-section avatar>
              <q-icon color="grey" :name="NavItem.Icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ NavItem.Text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-mt-md q-mb-xs" />

          <q-item-label header class="text-weight-bold text-uppercase">
            課程分類
          </q-item-label>

          <q-item v-for="NavItem in Categories" :key="NavItem.Text" v-ripple clickable :to="NavItem.To" :focused="$route.fullPath === NavItem.To">
            <q-item-section avatar>
              <q-icon color="grey" :name="NavItem.Icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ NavItem.Text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-my-md" />

          <template v-if="$store.getters['UserModule/IsLoggedIn']">
            <q-item-label header class="text-weight-bold text-uppercase">
              應用
            </q-item-label>
            <q-item v-ripple clickable to="/member/rangeviewer">
              <q-item-section avatar>
                <q-icon color="grey" name="grid_on" />
              </q-item-section>
              <q-item-section>
                <q-item-label>RangeViewer</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator class="q-my-md" />
          </template>

          <q-item v-for="NavItem in NavigationInfo" :key="NavItem.Text" v-ripple clickable :to="NavItem.To" :focused="$route.fullPath === NavItem.To">
            <q-item-section avatar>
              <q-icon color="grey" :name="NavItem.Icon" />
            </q-item-section>
            <q-item-section>
              <q-item-label>{{ NavItem.Text }}</q-item-label>
            </q-item-section>
          </q-item>

          <q-separator class="q-mt-md q-mb-sm" />

          <template v-if="$q.platform.is.mobile && $store.getters['UserModule/IsLoggedIn']">
            <q-item v-ripple clickable @click="$store.dispatch('UserModule/Logout');">
              <q-item-section avatar>
                <q-icon color="grey" name="logout" />
              </q-item-section>
              <q-item-section>
                <q-item-label>登出</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator class="q-mt-md q-mb-sm" />
          </template>

          <div v-if="!MiniSidebar" class="q-py-md q-px-md text-grey-9">
            <div class="row items-center q-gutter-x-sm q-gutter-y-xs q-mb-md">
              <router-link
                v-for="NavItem in NavigationFooter"
                :key="NavItem.Text"
                class="YL__drawer-footer-link"
                :to="NavItem.To"
              >{{ NavItem.Text }}</router-link>
            </div>
            <div class="row items-center q-gutter-x-sm q-gutter-y-xs">
              <span class="YL__drawer-footer-link">© 2021 Pete's Poker World</span>
            </div>
          </div>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-dialog v-model="MobileSearchBar" position="top" class="mobile-only">
      <q-card square class="q-px-md">
        <q-input v-model="Search" borderless placeholder="搜尋課程" @keyup.enter="DoSearch">
          <template v-slot:before>
            <q-icon name="search" @click="DoSearch" />
          </template>
          <template v-slot:append>
            <q-icon name="close" class="cursor-pointer" @click="MobileSearchBar = false" />
          </template>
        </q-input>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'MainLayout',
  data () {
    return {
      PageLoaded: false,
      SidebarSwitch: false,
      MobileSearchBar: false,
      MiniSidebar: false,
      Search: '',
      MainNavigation: [
        { Icon: 'home', Text: '首頁', To: '/main' },
        { Icon: 'whatshot', Text: '熱門課程', To: '/event/hot' }
      ],
      NavigationInfo: [
        { Icon: 'subscriptions', Text: '已訂閱課程', To: '/member/subscription' },
        { Icon: 'settings', Text: '偏好設定', To: '/member/profile?area=Preference' },
        { Icon: 'help', Text: '幫助中心', To: '/article/detail/faq' }
      ],
      NavigationFooter: [
        { Text: '服務條款', To: '/article/detail/term' },
        { Text: '隱私權政策', To: '/article/detail/privacy' },
        { Text: '關於平台', To: '/article/detail/about' }
      ]
    }
  },
  preFetch ({ store }) {
    store.commit('PageModule/SetCategoryList', {
      Data: [],
      Pagination: {}
    })
    return store.dispatch('PageModule/GetList', {
      CommitToStore: true,
      ListType: 'Category',
      URL: 'category/list',
      Data: {
        Order: 'nto',
        Page: 1,
        PerPage: 30
      }
    })
  },
  created () {
  },
  computed: {
    ...mapState({
      Categories: state => {
        return [
          { Icon: 'video_library', Text: '所有課程', To: '/category' },
          ...state.PageModule.CategoryListData.List.map((item) => {
            return { Icon: 'play_circle', Text: item.Name, To: '/category/' + item.Slug }
          })
        ]
      }
    })
  },
  watch: {
  },
  mounted () {
    this.PageLoaded = true
  },
  methods: {
    GoExternalLink (Link) {
      return window.open(Link, '_blank')
    },
    DoSearch () {
      return this.$router.push({
        name: 'Search',
        params: {
          Name: this.Search
        }
      }).then(() => {
        this.Search = ''
      })
    }
  }
}
</script>

<style lang="scss">
#Tools {
  .q-btn-dropdown__arrow {
    display: none;
  }
}
</style>

<style lang="scss" scoped>
@media (max-width: 576px) {
  #Logo {
    height: 35px;
  }
}
#MainSidebar {
  font-size: 14px;
}
.YL {
  &__toolbar-input-container {
    min-width: 100px;
    width: 55%;
  }
  &__toolbar-input-btn {
    border-radius: 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: rgba(0,0,0,.24);
    max-width: 60px;
    width: 100%;
  }
  &__drawer-footer-link {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: .75rem;
    &:hover {
      color: #000;
    }
  }
}
</style>
