<template>
  <q-layout view="hHh lpR fFf" class="bg-grey-1">
    <q-header elevated class="bg-blue-grey-10 text-white q-py-xs" height-hint="58">
      <q-toolbar>
        <q-btn flat no-caps no-wrap class="q-ml-xs" to="/main">
          <q-toolbar-title shrink class="text-weight-bold">
            <img src="https://firebasestorage.googleapis.com/v0/b/petepokerworld-17526.appspot.com/o/Logo%2Fhorziontal_white.png?alt=media&token=973d8233-7d6f-47c1-a6e5-8ffd2666737c" alt="Logo" title="Pete's Poker World" class="block" height="40">
          </q-toolbar-title>
        </q-btn>

        <q-space />

        <div id="Tools" class="q-gutter-sm row items-center no-wrap">
          <q-btn-dropdown v-if="$store.getters['UserModule/IsLoggedIn']" round dense flat color="grey-8">
            <template #label>
              <q-icon name="apps" />
              <q-tooltip>功能</q-tooltip>
            </template>
            <q-list bordered padding class="rounded-borders" style="max-width: 350px">
              <q-item-label header>功能</q-item-label>
              <q-item clickable v-ripple @click="$router.push('/member/rangeviewer')">
                <q-item-section avatar top>
                  <q-avatar icon="grid_on" color="primary" text-color="white" />
                </q-item-section>
                <q-item-section>
                  <q-item-label lines="1">RangeViewer</q-item-label>
                  <q-item-label caption>快速訓練並掌握翻牌前範圍</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>
          <q-btn-dropdown v-if="$store.getters['UserModule/IsLoggedIn']" round dense flat color="grey-8">
            <!--            <q-badge color="red" text-color="white" floating>2</q-badge>-->
            <template #label>
              <q-icon name="notifications" />
              <q-tooltip>通知</q-tooltip>
            </template>
            <q-list bordered class="rounded-borders" style="max-width: 350px">
              <q-item-label header>通知</q-item-label>
              <q-item>
                <q-item-section>
                  <q-item-label>目前無任何通知</q-item-label>
                </q-item-section>
              </q-item>
              <template v-if="false">
                <q-item clickable v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/avatar2.jpg">
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>
                    <q-item-label lines="1">Brunch this weekend?</q-item-label>
                    <q-item-label caption lines="2">
                      <span class="text-weight-bold">Janet</span>
                      -- I'll be in your neighborhood doing errands this
                      weekend. Do you want to grab brunch?
                    </q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    1 min ago
                  </q-item-section>
                </q-item>
                <q-separator inset="item" />
                <q-item clickable v-ripple>
                  <q-item-section avatar>
                    <q-avatar>
                      <img src="https://cdn.quasar.dev/img/avatar4.jpg">
                    </q-avatar>
                  </q-item-section>

                  <q-item-section>
                    <q-item-label lines="1">Linear Project</q-item-label>
                    <q-item-label caption lines="2">
                      <span class="text-weight-bold">John</span>
                      -- Can we schedule a call for tomorrow?
                    </q-item-label>
                  </q-item-section>

                  <q-item-section side top>
                    1 min ago
                  </q-item-section>
                </q-item>
              </template>
            </q-list>
          </q-btn-dropdown>

          <q-btn-dropdown v-if="$store.getters['UserModule/IsLoggedIn']" rounded flat dense>
            <template #label>
              <q-avatar size="26px">
                <img :src="$store.state.UserModule.User.photoURL || 'https://storage.ksong.tw/Uploads/51f6fb256629fc755b8870c801092942.png'">
              </q-avatar>
              <q-tooltip>帳號</q-tooltip>
            </template>
            <q-list>
              <q-item clickable v-close-popup to="/member/profile">
                <q-item-section>
                  <q-item-label>帳號設定</q-item-label>
                </q-item-section>
              </q-item>
<!--              <q-item clickable v-close-popup to="/member/subscription">-->
<!--                <q-item-section>-->
<!--                  <q-item-label>已訂閱內容</q-item-label>-->
<!--                </q-item-section>-->
<!--              </q-item>-->
<!--              <q-item clickable v-close-popup to="/member/transaction">-->
<!--                <q-item-section>-->
<!--                  <q-item-label>購買紀錄</q-item-label>-->
<!--                </q-item-section>-->
<!--              </q-item>-->
              <q-item clickable v-close-popup @click="$store.dispatch('UserModule/Logout')">
                <q-item-section>
                  <q-item-label>登出</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </q-btn-dropdown>

          <q-btn v-if="!$store.getters['UserModule/IsLoggedIn']" color="red-10" to="/member/login">
            登入
          </q-btn>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-grey-4 text-dark q-px-xl q-px-lg-md q-py-lg text-center">
      <p class="text-body2">
        <router-link v-for="(Nav, Index) in NavigationFooter" :key="Index" :to="Nav.To" class="q-mx-sm text-grey-10 text-">{{ Nav.Text }}</router-link>
      </p>
      <p class="text-body2 q-mb-none">© 2021 Pete's Poker World</p>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',
  data () {
    return {
      PageLoaded: false,
      SidebarSwitch: false,
      MiniSidebar: false,
      Search: '',
      NavigationFooter: [
        { Text: '幫助中心', To: '/article/detail/faq' },
        { Text: '服務條款', To: '/article/detail/term' },
        { Text: '隱私權政策', To: '/article/detail/privacy' },
        { Text: '關於平台', To: '/article/detail/about' }
      ]
    }
  },
  created () {
  },
  watch: {
    '$route.name' (newValue) {
      this.SidebarSwitch = newValue !== 'DetailSeriesNum'
    }
  },
  mounted () {
    this.PageLoaded = true
  },
  methods: {
    GoExternalLink (Link) {
      return window.open(Link, '_blank')
    }
  }
}
</script>

<style lang="scss">
#Tools {
  .q-btn-dropdown__arrow {
    display: none;
  }
}
</style>

<style lang="scss" scoped>
#MainSidebar {
  font-size: 14px;
}
.YL {
  &__toolbar-input-container {
    min-width: 100px;
    width: 55%;
  }
  &__toolbar-input-btn {
    border-radius: 0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    border-color: rgba(0,0,0,.24);
    max-width: 60px;
    width: 100%;
  }
  &__drawer-footer-link {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    font-size: .75rem;
    &:hover {
      color: #000;
    }
  }
}
</style>
